/* * {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
    height: 400px;
}

.calculator {
    background: #222;
    padding: 20px;
    display: flex;
    size: 400px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

}

#display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-bottom: 20px;
    width: 300px;
    height: 60px;
    background-color: rgb(212, 209, 188);
    position: center;
    font-size: 24px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-align: right;
    align-items: center;
    justify-content: center;
    overflow-x: auto;

}

button {
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid green;
    background-color: rgb(166, 221, 200);
    color: rgb(196, 21, 82);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    margin: 2px;
    justify-content: center;
    position: relative;

}

button:hover {
    background-color: rgb(55, 117, 99);
    transform: scale(1.20);

}

button:active {
    background-color: rgb(15, 82, 70);
    transform: scale(0.95);
}

.operator {
    overscroll-behavior-block: contain;
    background: #a1e18e;
}

.operator:hover {
    background-color: #6fca6f;
}

.equal {
    background: #52de9a;
}

.equal:hover {
    background-color: #dfe215;
}

.zero {
    grid-column: span 2;
}

.h1 {
    text-align: center;
    border: 10px;
    color: rgb(83, 242, 99);
    background-color: bisque;
}

.p1 {
    text-align: center;
    font-size: 10px;
    font-style: arial;
    background-color: antiquewhite;
    font-weight: bold;

}

.row {
    align-items: center;
    justify-content: center;

}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(24, 78, 48);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: tomato;

}

.navbar:hover {
    background-color: darkcyan;
    transform: scale(1.02);
}

.navbar:active {
    background-color: teal;
    transform: scale(0.98);
    animation-direction: alternate-reverse;
} */